@import "reset";

nav{
    width: 100%;
    height: 120px;
    box-shadow: 0 0 15px #ddd;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    top: 0;

    .logo{
     	float: left;
     	padding: 32px 0 0 175px;
    }
    ul{
    	float: right;
    	padding: 32px 175px 0 0;
      	li{
      		float: left;
     		a{
    			text-decoration: none;
    			color: #000;
    			padding: 10px 10px;
    			display: block;
    			font-size: 14px;
    		}

    		:hover{
    			text-decoration: underline;
    		}
    	}
    }

}

.sub_navigation{
	position: relative;
 	width: 100%;
  	text-align: center;
    margin-top: 120px;
 	ul{
		li{
			display: inline;
			padding: 10px 10px;
		}
	}
}

section{
	position: static;
 	width: 100%;
	min-height: 600px;
    background-color: #ddd;
}


.clear{
	clear: both;
}