@import "reset";

nav{
    width: 100%;
    box-shadow: 0 0 15px #ddd;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    top: 0;
    padding: 30px 0 30px 0;

    .row{

        width: 75%;
        outline: 1px solid #000;
        margin: 0 auto;
        position: relative;
        padding: 5px;
 
        h2{ 
          position: relative;
          outline: 1px #000 solid;
           display: inline-block;
          padding: 20px;
        }

        ul{
            position: relative;
            display: inline-block;
            float: right;
             
            li{
                display: inline-block;
                outline: 1px #000 solid;
                a{
                    text-decoration: none;
                    display: block;
                    padding: 20px;                    
                }
                :hover{
                    background-color: blue;
                }
            }

        }


    }

     

}

.sub_navigation{
	position: relative;
 	width: 100%;
  	text-align: center;
    margin-top: 120px;
    padding: 30px 0;
 	ul{
		li{
			display: inline;
			padding: 10px;
            a{
                text-decoration: none;

            }
            :hover{
                text-decoration: underline;   
            }

		}
	}
}

.grid-container{
  	width: 70%;
    margin: 0 auto;
 
    .row{
          
        .col{
            float: left; 
            min-height: 1px; 
            width: 47%;
            padding: 10px 5px;
            background-color: #fff;

            img{
                max-width: 100%;
                margin: 0 auto;
                display: block;
            }
        }

        p{
            text-align: center;
            padding: 5px;
        }

 
    }

    .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }
    
}


.outline, .outline *{
    outline: 1px solid #000; 
}

footer{
    padding: 20px 0;
    width: 100%;
    background-color: #000;
    color:#fff;
    text-align: center;
}


.blue{
    background-color: blue;
    border: 1px solid black;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.clear{
    clear: both;
}