/* line 1, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, ../sass/main.scss */
nav {
  width: 100%;
  box-shadow: 0 0 15px #ddd;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  top: 0;
  padding: 30px 0 30px 0;
}
/* line 12, ../sass/main.scss */
nav .row {
  width: 75%;
  outline: 1px solid #000;
  margin: 0 auto;
  position: relative;
  padding: 5px;
}
/* line 20, ../sass/main.scss */
nav .row h2 {
  position: relative;
  outline: 1px #000 solid;
  display: inline-block;
  padding: 20px;
}
/* line 27, ../sass/main.scss */
nav .row ul {
  position: relative;
  display: inline-block;
  float: right;
}
/* line 32, ../sass/main.scss */
nav .row ul li {
  display: inline-block;
  outline: 1px #000 solid;
}
/* line 35, ../sass/main.scss */
nav .row ul li a {
  text-decoration: none;
  display: block;
  padding: 20px;
}
/* line 40, ../sass/main.scss */
nav .row ul li :hover {
  background-color: blue;
}

/* line 54, ../sass/main.scss */
.sub_navigation {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 120px;
  padding: 30px 0;
}
/* line 61, ../sass/main.scss */
.sub_navigation ul li {
  display: inline;
  padding: 10px;
}
/* line 64, ../sass/main.scss */
.sub_navigation ul li a {
  text-decoration: none;
}
/* line 68, ../sass/main.scss */
.sub_navigation ul li :hover {
  text-decoration: underline;
}

/* line 76, ../sass/main.scss */
.grid-container {
  width: 70%;
  margin: 0 auto;
}
/* line 82, ../sass/main.scss */
.grid-container .row .col {
  float: left;
  min-height: 1px;
  width: 47%;
  padding: 10px 5px;
  background-color: #fff;
}
/* line 89, ../sass/main.scss */
.grid-container .row .col img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
/* line 96, ../sass/main.scss */
.grid-container .row p {
  text-align: center;
  padding: 5px;
}
/* line 104, ../sass/main.scss */
.grid-container .row:before,
.grid-container .row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 114, ../sass/main.scss */
.outline, .outline * {
  outline: 1px solid #000;
}

/* line 118, ../sass/main.scss */
footer {
  padding: 20px 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
}

/* line 127, ../sass/main.scss */
.blue {
  background-color: blue;
  border: 1px solid black;
}

/* line 132, ../sass/main.scss */
.green {
  background-color: green;
}

/* line 136, ../sass/main.scss */
.red {
  background-color: red;
}

/* line 140, ../sass/main.scss */
.clear {
  clear: both;
}
