/* line 1, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, ../sass/main.scss */
nav {
  width: 100%;
  height: 120px;
  box-shadow: 0 0 15px #ddd;
  position: fixed;
  background-color: #fff;
}
/* line 10, ../sass/main.scss */
nav .logo {
  float: left;
  padding: 32px 0 0 175px;
}
/* line 14, ../sass/main.scss */
nav ul {
  float: right;
  padding: 32px 175px 0 0;
}
/* line 17, ../sass/main.scss */
nav ul li {
  float: left;
}
/* line 19, ../sass/main.scss */
nav ul li a {
  text-decoration: none;
  color: #000;
  padding: 10px 10px;
  display: block;
  font-size: 14px;
}
/* line 27, ../sass/main.scss */
nav ul li :hover {
  text-decoration: underline;
}

/* line 35, ../sass/main.scss */
.sub_navigation {
  position: relative;
  width: 100%;
  top: 125px;
  padding: 10px 10px;
  text-align: center;
}
/* line 42, ../sass/main.scss */
.sub_navigation ul li {
  display: inline;
  padding: 10px 10px;
}

/* line 49, ../sass/main.scss */
section {
  position: relative;
  width: 100%;
  min-height: 600px;
  border: 1px red solid;
}

/* line 57, ../sass/main.scss */
.clear {
  clear: both;
}
