/* line 1, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, ../sass/main.scss */
nav {
  width: 100%;
  height: 120px;
  box-shadow: 0 0 15px #ddd;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  top: 0;
}
/* line 12, ../sass/main.scss */
nav .logo {
  float: left;
  padding: 32px 0 0 175px;
}
/* line 16, ../sass/main.scss */
nav ul {
  float: right;
  padding: 32px 175px 0 0;
}
/* line 19, ../sass/main.scss */
nav ul li {
  float: left;
}
/* line 21, ../sass/main.scss */
nav ul li a {
  text-decoration: none;
  color: #000;
  padding: 10px 10px;
  display: block;
  font-size: 14px;
}
/* line 29, ../sass/main.scss */
nav ul li :hover {
  text-decoration: underline;
}

/* line 37, ../sass/main.scss */
.sub_navigation {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 120px;
  padding: 30px 0;
}
/* line 44, ../sass/main.scss */
.sub_navigation ul li {
  display: inline;
  padding: 10px 10px;
}

/* line 51, ../sass/main.scss */
.grid-container {
  width: 100%;
  border: 1px solid green;
}
/* line 57, ../sass/main.scss */
.grid-container .row :before, .grid-container .row :after {
  content: "";
  display: table;
  clear: both;
}
/* line 63, ../sass/main.scss */
.grid-container .row [class*='col-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
}
/* line 69, ../sass/main.scss */
.grid-container .row .col-1 {
  width: 16.66%;
}
/* line 72, ../sass/main.scss */
.grid-container .row .col-2 {
  width: 33.33%;
}
/* line 75, ../sass/main.scss */
.grid-container .row .col-3 {
  width: 50%;
}
/* line 78, ../sass/main.scss */
.grid-container .row .col-4 {
  width: 66.664%;
}
/* line 81, ../sass/main.scss */
.grid-container .row .col-5 {
  width: 83.33%;
}
/* line 84, ../sass/main.scss */
.grid-container .row .col-6 {
  width: 100%;
}

/* line 94, ../sass/main.scss */
.footer {
  display: block;
  width: 100%;
  position: relative;
}

/* line 101, ../sass/main.scss */
.blue {
  background-color: blue;
  border: 1px solid black;
}

/* line 106, ../sass/main.scss */
.green {
  background-color: green;
}

/* line 110, ../sass/main.scss */
.red {
  background-color: red;
}
